body{
height: 100%;
margin-bottom: 0;

width: 100%;
background-color:whitesmoke;
}
.jumbotron{
  height: 30vh;
  padding-top: 7%;
  background-image: url("vulkanik.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3%;
}
.display-4{
  color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}

.card-deck{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.bawah{
  border-radius: 5px;
  background-color: white;
  border: 5px solid black;
}
