.login{
height: 100%;
/* border: 1px solid black; */
margin-bottom: 0;
margin-top: 0;
position: fixed;
width: 100%;
}
body{
  overflow-x: hidden;
  width: 100%;
  margin: auto;
  min-width: 600px;
  max-width: 2000px
}
.kiri{
  height: 100vh;
  margin-bottom: 0;
  padding-top:22%;
  background-image: url("bglogin.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.kanan{
  padding-top: 16%;
  background-color: whitesmoke;
  margin-bottom: 0;
  height: 100vh;
}
h4{
  color: black;
}
h1{
  color: skyblue;
}
.button{
  margin-top: 40px;
}
.akun{
  margin-top: 40px;
}
