body{
  background-color: whitesmoke;
}
.container{
  background-color: white;
  border-radius: 10px;
  border: 5px solid black;
}
.page-footer{
  margin-top: 50px;
}
.navbar{
  margin-bottom: 50px;
}
.button{
  margin-top: 10px;
  margin-bottom: 30px;
}
.text-center{
  margin-top: 30px;
}
.file-upload{
  padding-left: 80px;
}
.img-circle{
  border-radius: 100px;
}
