.login{
height: 100%;
margin-bottom: 0;
margin-top: 0;
position: fixed;
width: 100%;
}
body{
  overflow-x: hidden;
}
.kiri{
  height: 100vh;
  margin-bottom: 0;
  padding-top:22%;
  background-image: url("bglogin.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.kanan{
  padding-top: 15%;
  background-color: whitesmoke;
  margin-bottom: 0;
  height: 100vh;
}
h4{
  color: black;
}
h1{
  color: skyblue;
}
.button{
  margin-top: 40px;
}
