body{
height: 100%;
margin-bottom: 0;

width: 100%;
background-color:whitesmoke;
}
.jumbotron{
  background-color: white;
  ;
}
.display-4{
  font-family: Arial, Helvetica, sans-serif;
}

.card-deck{
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.bawah{
  border-radius: 5px;
  background-color: white;
  border: 5px solid black;
}
.navbar{
  margin-bottom:5%;
}
.page-footer{
  margin-top: 5;
  margin-bottom: 0;
}
