body{
height: 100%;
margin-bottom: 0;
margin-top:0;
width: 100%;
background-color:whitesmoke;
}
.satu{
padding-bottom: 13%;
}
.dua{
  padding-bottom: 17%;
}
.tiga{
  padding-bottom: 16%;
}
.empat{
  padding-bottom: 16%
}
.siaga{
  height: 40vh;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
}
h6{
  font-family: Arial, Helvetica, sans-serif;
  color: ghostwhite;
}
h2{
  color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  color: ghostwhite:
}
h5{
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
  text-align: center;
}

.satu1{
  padding-bottom: 17%;
}
.slide{
  margin-bottom: 40px;
}
.page-footer{
  margin-top: 90px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;

}
.img{
  border-radius: 5px 5px 0 0;
}
.card-deck{
  margin-top: 40px;
}
#navigasiBar{
  background-color:#353a40;
}
.navbar{
  max-height: 53px;
}
.nav-link{
  color: white;
}
.nav-item{
  color: white;
}