body{
height: 100%;
margin-bottom: 0;

width: 100%;
background-color:whitesmoke;
}
.jumbotron{
  height: 30vh;
  padding-top: 5%;
  background-image: url("vulkanik.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3%;
}
.display-4{
  color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}
.bawah{
  border-radius: 5px;
  background-color: white;
  border: 5px solid black;
}
.page-footer{
  margin-top: 3%;
}
.row{
  margin-top: 2%
}
